# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/

.vs/Warzone-Asg1/v16/ipch/AutoPCH/7f43037cf576e000/PLAYERDRIVER.ipch

.vs/Warzone-Asg1/v16/Browse.VC.db-shm

.vs/Warzone-Asg1/v16/Browse.VC.db

.vs/Warzone-Asg1/v16/.suo

.vs/Warzone-Asg1/v16/Browse.VC.db-wal

.vs/Warzone-Asg1/v16/Browse.VC.opendb

.vs/Warzone-Asg1/v16/ipch/AutoPCH/9ba653895eeac618/CARDS.ipch

.vs/Warzone-Asg1/v16/ipch/AutoPCH/fddd7b7631079726/PLAYER.ipch
